<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cgenco.clipboardsync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/cgenco/.rbenv/shims/ruby</string>
        <string>/Users/cgenco/projects/clipboardsync/clipboard_monitor.rb</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/clipboard_sync.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/clipboard_sync.err</string>
    <key>WorkingDirectory</key>
    <string>/Users/cgenco/projects/clipboardsync</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
